[submodule "SirenRender/vendor/spdlog"]
	path = SirenRenderer/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "SirenRenderer/vendor/imgui"]
	path = SirenRenderer/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "SirenRender/vendor/glm"]
	path = SirenRenderer/vendor/glm
	url = https://github.com/g-truc/glm
