[submodule "SirenRender/vendor/spdlog"]
	path = SirenRender/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "SirenRender/vendor/imgui"]
	path = SirenRender/vendor/imgui
	url = https://github.com/TheCherno/imgui
